SERVER_PORT=8087
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USERNAME=scrumno
DATABASE_PASSWORD=3003
DATABASE_NAME=app
DATABASE_SSLMODE=disable

BASE_PATH="./internal/api/postman/collections"
BASE_API_URL="http://localhost:8087/api/v1"

# IIKO
INTEGRATION_SYSTEM=iiko
IIKO_ACCESS_TOKEN=
IIKO_BASE_URL=https://api-ru.iiko.services
IIKO_LOGIN=9e6a4d2a798842e0a8d0aerecea3f1aa
IIKO_TERMINAL_GROUP_ID=af41c462-e41f-86b2-019c-cer111a89d858
IIKO_ORGANIZATION_ID=ebc3605d-ab3f-4769-8365-re1ea0ee2d9d8